.admin-container{
   overflow: hidden;
   padding: 0.35% .45%;
   display: flex;
   position:static;
   /* height: 100%; */
   height:100vh;
}
.admin-control{
   width: 100%;
}
.user-each{

}
.scroll-container-admin{
   display: inline;
   border:2px solid black;
   border-radius: 2%;
   height:95% !important;
   background-color: rgba(217, 215, 217, 0.43)
}
.right-admin{
  background-color: rgb(235, 235, 235);

  float:right;
  width: 70%;
  padding-top: 0.5%;
  padding-bottom: 10%;
  margin-bottom:0%;
  border-right: 1px;
  border-radius: 0 20px 20px 0px;
    padding-right: 6%;
    padding-left: 2%;
    /* overflow: hidden; */
}
.user-each-type{
   float:right;
   background-color: red;
}
.admin-list{
  display:block;
  margin:.2em;
  border:0.4px solid transparent;
  border-radius: 15px;
}
