label{
  color:black;
  font-size: 1.25em;
  text-align: left
}

.eventForm-inner-reg{
  line-height: 5vh;
  width: 100%;
}

.eventForm-inner-reg div {
  text-align:left;
  display: block;
}

.eventForm-inner-reg div input, .eventForm-inner-reg div textarea {
  width : 100%;
}

.description-input-container{
  display: inline-flex;

}
.desc{
  height: 5em;
}
