label{
  color:black !important;
  font-size: 1.25em;
  text-align: left
}

.eventForm-inner-reg{
  line-height: 5vh;
  width: 100%;
}

.eventForm-inner-reg div {
  text-align:left;
  display: block;
}

.eventForm-inner-reg div input, .eventForm-inner-reg div textarea {
  width : 100%;
}

.description-input-container{
  display: inline-flex;
  
}
.desc{
  height: 5em;
}
.access-radio {
  width: auto !important;
  display: inline-block;
}
.radio-group{
  display: inline-block !important;
  margin-right: 1%;
}
.access-btn{
  font-size: 1em;
}
.short-form{
  display: flex;
}
