.events-container{
   overflow: hidden;
   padding: 0.35% .45%;
   display: flex;
   position:static;
   /* height: 100%; */
   height:100vh;
}
.list{
  display:block;
  margin:.2em;
  border:0.4px solid transparent;
  border-radius: 15px;

}
.area{
    /* overflow: hidden; */
    height:auto;
}
.sidebar{
  border-radius: 20px 0px 0px 20px;
    border-left: 1px  ;
  /* position:absolute; */
  width: 30%;
  height:auto;
  float: left;
  /* padding-bottom: 100%;
    margin-bottom: -100%; */
  background-color: #900;
}

.menu ul a {
  font-size: 1.5em;
  color: white;
}

.events-but{
  display: inline;
  float:right;
}
.searchBar{
  float:right;
  padding-bottom: 2%;
  z-index: 0;
  resize: horizontal;
}
.right{
  background-color: rgb(235, 235, 235);

  float:right;
  width: 70%;
  padding-top: 0.5%;
  padding-bottom:10%;
  border-right: 1px;
  border-radius: 0 20px 20px 0px;
    padding-right: 6%;
    padding-left: 2%;
    overflow: hidden;
}

.events-title{
  /* float:left; */
  text-align: left;
  margin-bottom: 1%;
  font-size: 2em;
}
.scroll-container{
  border:2px solid black;
  border-radius: 2%;
  background-color: rgba(217, 215, 217, 0.43)

}
.select-bar{
  z-index: 1;
   resize: horizontal;
  width: 10em;
  float:right;
  padding-left: 2%;
}
.right-top{
  display: flex;
  justify-content: flex-end;
}
.item{
  height:100%;
}
.empty-myevents{
  border: 2px solid transparent;
  border-radius: 25px;
  /* padding: 22% 25%; */
  margin: auto auto;

}

.list-group-item-heading, .list-group-item-text {
  text-align: left;
}