.welcome-container{
  background-color: rgb(255, 255, 255);
  padding: 0.5% 0.5%;
  display: flex;
}
.welcome-left{
  padding-top: 10%;
  /* padding-bottom: 60%; */
  display: block;
  /*float:left;*/
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  justify-content: center;
  /* border-left:4px solid black; */
}


.welcome-logo {
  background-image: url('../img/WelcomeLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;

  width: 100%;
  justify-content: center;

}
