.welcome-container{
  background-color: rgb(255, 255, 255);
  padding: 0.5% 0.5%;
  display: flex;
  background-image: url("../img/usc2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.welcome-left{
  padding-top: 3%;
  /* padding-bottom: 60%; */
  display: block;
  /*float:left;*/
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  justify-content: center;
  /* border-left:4px solid black; */
}


.welcome-logo {
  background-image: url('../img/WelcomeLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 22%;
  width: 100%;
  justify-content: center;

}
.welcome-link {
  color: #990000;
}
.welcome-link:hover {
  color: #FFC72C;
}